.nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
    background-color: #8797ffa8;
    position: fixed;
    width: 100%;
}
.logoName{
    color: inherit;
    text-decoration: none;
    font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
    font-size: 2vmax;
}
.LinkCont a{
    color: inherit;
    font-weight: 1000;
    text-decoration: none;
    margin: 10px;
}